<h4 class="text-secondary text-center p-3">Your order:</h4>
<div class="justify-content-center">
    <form [formGroup]="form" autocomplete="off" (submit)="makeOrder()">
        <div class="form-group row">
            <label class="label col-md-4 col-sm-4 text-right">Name:</label>
            <input class="form-control col-md-8 col-sm-8" formControlName="customer_name">
        </div>
        <div class="form-group row">
            <label class="label col-md-4 col-sm-4 text-right">Address:</label>
            <input class="form-control col-md-8 col-sm-8" formControlName="address">
        </div>
        <div class="form-group row">
            <label class="label col-md-4 col-sm-4 text-right">Phone:</label>
            <input class="form-control col-md-8 col-sm-8" formControlName="phone">
        </div>
        <div class="form-group row">
            <label class="label col-md-4 col-sm-4 text-right">City:</label>
            <select class="form-control col-md-8 col-sm-8" formControlName="city">
                <option *ngFor="let city of cities" [value]="city.id">
                    {{ city.city_name }}, {{ city.country.country_name }}
                </option>
            </select>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-lg btn-success">Order</button>
        </div>
    </form>
</div>
