<h2 class="text-info p-3">Brands:</h2>

<!--Search-->
<div class="row justify-content-end pb-3">
    <div class="col-md-4">
        <form [formGroup]="form" autocomplete="off" (submit)="search()">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <input placeholder="Brand name" class="form-control" formControlName="name">
                </div>
                <div class="col-md-4 col-sm-4">
                    <button type="submit" class="btn btn-block btn-info">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="brand-form col-md-6">
        <brands-form></brands-form>
    </div>
    <div class="col-md-6">
        <table class="table table-hover table-bordered">
            <caption class="text-center">Brands list</caption>
            <thead class="thead-light">
                <tr class="text-center">
                    <th class="text-center align-middle" scope="col">
                        Brands (click on name to edit):
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let brand of brands">
                    <!--Brand-->
                    <td class="align-middle">
                        <div class="row">
                            <span class="text-left col-md-6" (click)="selectBrand(brand)">{{ brand.brand_name }}</span>
                            <span class="text-right col-md-6">
                                <i class="text-danger far fa-times-circle" (click)="delete(brand.id)"></i>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
