/* You can add global styles to this file, and also import other style files */

// Font for logo
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

// Default font
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

// Overriding bootstrap colors: (BEFORE bootstrap import) 
$theme-colors: (
  "primary":  #BA3F77,
  "info": #FA8620,  
  "warning": #FB8F67, 
  "secondary":#156064,
  "success": #00C49A,
  "danger": #ED1C1C
);

$light: #FDFEFE;
$body-bg: #FDFEFE; 

*{
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
}
h1{
  font-family: 'Courgette', cursive;
}
html{
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
header{
  flex: 0 0 auto;
  #navbarNav .navbar-nav li a, #navbarNav .navbar-nav li i{
    &:hover{
      color: #BA3F77;
    }
  }
}
section{
  flex: 1 0 auto;
}
footer{
  flex: 0 0 auto;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
